.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Hidden tooltip text */
.tooltip .tooltiptext {
    float: left;
    visibility: hidden;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 100%;
    text-align: left;
    padding: 8px;
    border-radius: 6px;

    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    /* Fade-in */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Arrow below the tooltip */
.tooltip .tooltiptext::after {
    content: "";
    position: relative;
    top: 100%;
    /* bottom of tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}