     .card {
            background: rgb(238, 226, 226);
            border-radius: 20px;
            padding: 30px 20px;
            text-align: center;
            text-decoration: none;
            color: #444;
            transition: all 0.3s ease;
            border-top: 8px solid #ddd;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
            /* display: flex; */
            flex-direction: column;
            align-items: left;
        }

        .card:hover {
            transform: translateY(-8px) scale(1.02);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        }